[user]
	name = haya14busa
	email = haya14busa@gmail.com
[color]
	ui = true
[core]
	editor = vim
	quotepath = false
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[alias]
	co = checkout
	st = status --short --branch
	ci = commit
	ad = add
	cam = commit --amend
[include]
	path = ~/.gitconfig.local
[url "https://"]
	insteadOf = git://
[url "git@github.com:"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
[push]
	default = current
[ghq]
	root = ~/src
[diff]
	algorithm = patience
	compactionHeuristic = true
[github]
	user = haya14busa
[status]
	showuntrackedfiles = all
[commit]
	verbose = true
[status]
	showuntrackedfiles = all
[http]
	cookiefile = /home/haya14busa/.gitcookies
[init]
	defaultBranch = main
